<div class="horizontal-scroll">
  <table class="table table-condensed">
    <thead>
    <tr>
        <th><b>Pet</b></th>
        <th><b>type</b></th>
        <th><b>energyLevel</b></th>
       <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in invites">
        <td>{{item.petName}}</td>
        <td>{{item.petType}}</td>
        <td>{{item.energyLevel}}</td>
        <td><button class="status-button btn btn-xs btn-info" ng-click="letsPlay(item.id)">PLAY!!</button></td>
    </tr>
    </tbody>
  </table>
</div>